<h1>Add New Shelter</h1>

<form action='' method=''>
  <label for='name_new_shelter'>Name:</label><br>
  <input id='name_new_shelter' name='name_new_shelter' type=''><br>
  <label for=''>Address:</label><br>
  <input id='' name='' type=''><br>
  <label for=''>City:</label><br>
  <input id='' name='' type=''><br>
  <label for=''>State:</label><br>
  <input id='' name='' type=''><br>
  <label for=''>Zip:</label><br>
  <input id='' name='' type=''><br>
  <input id='submit_new_shelter' type='submit' value='Submit'>
</form>
