<h1>Add New Shelter</h1>

<form action='/shelters' method='post'>
  <label for='name_new_shelter'>Name:</label><br>
  <input id='name_new_shelter' name='name_new_shelter' type='text'><br>
  <label for=''>Address:</label><br>
  <input id='address_new_shelter' name='address_new_shelter' type='text'><br>
  <label for=''>City:</label><br>
  <input id='city_new_shelter' name='city_new_shelter' type='text'><br>
  <label for=''>State:</label><br>
  <input id='state_new_shelter' name='state_new_shelter' type='text'><br>
  <label for=''>Zip:</label><br>
  <input id='zip_new_shelter' name='zip_new_shelter' type='text'><br>
  <input id='submit_new_shelter' name='submit_new_shelter' type='submit' value='Create Shelter'>
</form>
