<h1>Pets</h1>

<% @pets.each do |pet| %>
  <%= content_tag :h2, pet.name %><br>
  <%= image_tag pet.image, size:'480x360' %><br>
  <%= content_tag :p, "Approximate Age: #{pet.approximate_age}" %>
<% end %>
